@import "../../sub-components/ProductValueAccordions/styles.css";

.ikas-product-details {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid var(--p6Vorgv0Uy, var(--8ARbeTYsmD, #e4e7e8));
}
